// @mixin main-font() {
//   font-size: 15px;
//   font-weight: 700;
//   line-height: 1.5;
// }

@mixin font($fz, $lh, $ls, $fw: 400) {
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;
  font-weight: $fw;
}
