:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-alpha-color: rgba(255, 255, 255, 0.6);

  --bg-dark-color: #2f303a;
  --bg-grey-color: #f5f4fa;
}

// Переменные SASS для палитры цветов:

$primaryColor: #757575;
$secondaryColor: #212121;
$accentColor: #2196f3;
$bgPrimaryColor: #2f303a;
$bgSecondaryColor: #f5f4fa;
