/* Палитра цветов текста:
основной цвет текста: #757575
вторичный цвет текста: #212121
цвет акцента: #2196F3
чёрный цвет: #000000
белый цвет: #ffffff
белый прозначный цвет: rgba(255, 255, 255, 0.6) */

/* Палитра цветов фона:
белый фон: #ffffff;
фон секции герой и футера: #2F303A
фон секции команда: #F5F4FA */

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --white-alpha-color: rgba(255, 255, 255, 0.6);

  --bg-dark-color: #2f303a;
  --bg-grey-color: #f5f4fa;
}
